@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to right, #F1D8c9, #f2c3a7);
}
p{text-align: justify;
}
main{
    background-color: white; width: 600px; padding: 10px; margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 10px #a07f6dbd;
}

h1{
    color:#f39209 ;
    text-align: center;
    text-shadow: 1px 1px 2px #ad6806d2;
}
h2{
    color: #125189;
}